.main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light-background);
  color: black;
  width: calc(100% - var(--distance-left));
  top: 80px;
  right: 0;
  text-align: center;
}

.login-test{
  background-color: aqua;
}