@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap");

html,
body,
#rrot,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Nunito", sans-serif !important;
}
.app {
  display: flex;
  background-color: #f5f5f5;
  position: relative;
}

::-webkit-scrollbar {
  width:10px ;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}