#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .avatar-sidebar {
    transition: 0.3s all;
  }
  .name-sidebar {
    display: inline-block;
    font-size: 25px;
    color: var(--black);
    max-width: 14rem;
    padding: 0;
    margin: 2px;
    transition: all 0.4s;
    animation: fadeIn 0.3s all;
    max-width: 190px; /* Set the maximum width */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide the overflow */
    text-overflow: ellipsis; /* Show ellipsis (...) */
  }
  .role-sidebar {
    font-size: 15px;
    color: var(--black);
    padding: 0;
    margin: 2px;
    transition: 0.4s;
    animation: fadeIn 2s ease forwards;
    opacity: calc(0.7 + 0.3 * (1 - var(--distance-left) / 300px));
  }
}

.menu-sidebar {
  background-color: rgb(86, 86, 95);
  border-radius: 7px;
  .menu-item-sidebar {
    z-index: 1001;
    margin-top: 10px;
    background-color: var(--sidebar-button);
  }
}
