@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,500&display=swap");

@import "normalize.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
:root {
  --light-bg: rgb(255, 254, 254);
  --white-grey: #eee;
  --white: rgb(251, 253, 250);
  --dark-bg: rgb(65, 64, 73);
  --dark-bg-top: rgb(65, 64, 73);
  --dark-bg-bot: rgb(26, 26, 28);
  --dbt: rgb(53, 53, 58);
  --dbb: rgb(41, 41, 44);
  --dark-click: rgb(86, 86, 95);
  --text-dark: rgb(32, 43, 55);
  --text-light: rgb(255, 254, 254);
  --sidebar-button: rgb(65, 64, 73);
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --distance-left: 13%;
  --test-color: #c40000;
  --shadow-default: 0px 10px 20px 0.5px rgba(99, 88, 88, 0.3);
}

//middle
@media only screen and (min-width: 1180px) and (max-width: 1900px) {
  // máy tính màn hinh nhỏ
}

// ipad air
@media only screen and (min-width: 650px) and (max-width: 1180px) {
  // ipad
}

//ihone 5/SE
@media only screen and (min-device-width: 100px) and (max-device-width: 650px) {
  // iphone 5/SE/12 pro
}
