/* root */
:root{
  --grey: #333;
  --light-grey: #eee;
}



.app{
  background-color: var(--light-grey);
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  background-color: rgb(94, 114, 107);
  padding: 10px;
  border-radius: 20px;
  height:max-content;
  width: 100%;
  margin-top: 10px;
  color : var(--grey);
  font-size: 7rem;
  top: 10px;
}