.select-role {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 0 0 0;
  min-width: 290px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  //   border: 2px solid var(--dark-bg);
  .rle {
    display: flex;
    flex: 1;
    margin: 2px;
    min-height: 80%;
    margin: 10px 3px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    
    &:hover {
      cursor: pointer;
      border: 2px solid var(--dark-bg);
    }
  }
  button{
  background-color: #ffffff00;

  }
}
.toggle-public .select-role {
    .rle {
    }
}
.toggle-admin .select-role {
  .admin {
    transition: all 0.5s ;

    background-color: var(--dark-bg);
    color: var(--white);
  }
}

.toggle-user .select-role {
  .user {
    transition: all 0.5s ;
    background-color: var(--dark-bg);
    color: var(--white);
  }
}
.toggle-employee .select-role {
    transition: all 0.5s ;

  .employee {
    background-color: var(--dark-bg);
    color: var(--white);
  }
}
