/test/
/server/node_modules/
/client/node_modules/
# /server/.env
/paymentsv/node_modules/

/server/controllers/aiController.js
/server/routes/aiRoute.js
# mongodb+srv://bookstore:<password>@borbon.gmpunex.mongodb.net/?retryWrites=true&w=majority