.wrapper {
  // phan bao xung quanh toan bo trang
  // background-image: url("../../../public/bg2.png");
  background-image: linear-gradient(
      to right bottom,
      rgba(42, 42, 42, 0.8),
      rgba(204, 199, 199, 0.3)
    ),
    url("../../../public/bg2.png");
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  // max-width: 100vw;
  display: flex;
  flex-flow: row wrap;
  .wrapper_reset {
    flex: 2;
    padding-bottom: 100px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
    // background-color: var(--white);
    backdrop-filter: blur(30px);
  }
  .wrapper_signin {
    flex: 2;
    padding-bottom: 100px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
    // background-color: var(--white);
    backdrop-filter: blur(30px);
  }
  .wrapper_signup {
    flex: 2;
    padding-bottom: 0 10px 10px 100px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
    // background-color: var(--white);
    backdrop-filter: blur(30px);
  }
}

.close-auth {
  position: absolute;
  padding: 2px;
  top: 15px;
  right: 15px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--dark-bg);
  box-sizing: border-box;
  .close-auth-icon {
    font-size: 30px;
    font-weight: bold;
  }
}



/////////////////////////////////////
.background {
  flex: 3;
  backdrop-filter: blur(1px);
  margin: 10px;
  border-radius: 5px;
  .public {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .admin {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
   
  }
  .user {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: rgb(53, 67, 131);
  }
  .employee {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: rgb(30, 36, 36);
  }
}


//middle
@media only screen and (min-width: 1180px) and (max-width: 1900px) {
  // máy tính màn hinh nhỏ
}

// ipad air
@media only screen and (min-width: 650px) and (max-width: 1180px) {
  // ipad
}

//ihone 5/SE
@media only screen and (min-device-width: 100px) and (max-device-width: 650px) {
  // iphone 5/SE/12 pro
}