.wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(248, 248, 249),
    rgba(253, 252, 252, 0.699)
  );
  .wrapper_reset {
    flex: 2;
    margin: 10px;
    padding-bottom: 100px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(177, 170, 170, 0.3);
    backdrop-filter: blur(30px);
    background-color: whitesmoke;
    margin-right: 100px;
  }
  .wrapper_signin {
    flex: 2;
    margin: 10px;
    padding-bottom: 100px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(177, 170, 170, 0.3);
    backdrop-filter: blur(30px);
  }
  .wrapper_signup {
    flex: 2;
    margin: 10px;
    padding-bottom: 0 10px 10px 100px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(177, 170, 170, 0.3);
    backdrop-filter: blur(30px);
  }
}

.background {
  flex: 3;
  margin: 10px;
  // background-color: rgba(187, 177, 177, 0.205);
  border-radius: 5px;
  backdrop-filter: blur(1px);
}
.close-auth {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid var(--dark-bg);
  border-radius: 6px;
  .close-auth-icon {
    font-weight: bold;
    font-size: 30px;
  }
}

//middle
@media only screen and (min-width: 1180px) and (max-width: 1900px) {
  // máy tính màn hinh nhỏ
}
// ipad air
@media only screen and (min-width: 650px) and (max-width: 1180px) {
  // ipad

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;

    .wrapper_reset {
      flex: 3;
      margin: 10px;
      padding-bottom: 100px;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
      // background-color: var(--white);
      backdrop-filter: blur(30px);
    }
    .wrapper_signin {
      flex: 3;
      margin: 10px;
      padding-bottom: 100px;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
      // background-color: var(--white);
      backdrop-filter: blur(30px);
    }
    .wrapper_signup {
      flex: 3;
      margin: 10px;
      padding-bottom: 0 10px 10px 100px;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(26, 25, 25, 0.3);
      // background-color: var(--white);
      backdrop-filter: blur(30px);
    }
  }
  .background {
    flex: 3;
  }
}

//ihone 5/SE
@media only screen and (min-device-width: 100px) and (max-device-width: 650px) {
  // iphone 5/SE/12 pro
  .wrapper {
    .background {
      display: none;
    }
  }
}


@keyframes change{
  0%  {
    background-image: url('../../../public/Promote_1.jpg');
  }
  15% {
      background-image: url('../../../public/Promote_2.png');
  }
  30% {
    background-image: url('../../../public/Promote_3.png');
  }
  45% {
    background-image: url('../../../public/Promote_4.png');
  }
  60% {
    background-image: url('../../../public/Promote_5.png');
  }
  75% {
    background-image: url('../../../public/Promote_6.png');
  }
  90% {
    background-image: url('../../../public/Promote_7.png');
  }
}
/////////////
#rs_bg
{
  margin-top: 100px;
}
#su_bg
{
  margin-top: 15px;
}