.home {
  position: relative;
  border-radius: 5px;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-bg);
  .con {
    position: relative;
    border-radius: 5px;
    margin: 1px;
    background-color: rgb(167, 162, 162);
  }
  .carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: #f0f0f0;
    position: absolute;
    top:20px
    /* Adjustments to make the image cover the container */
    img {
      // width: 100%;
      // height: 100%;
      // object-fit: cover;
    }
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  
    .ant-select {
      margin-right: 10px;
      width: 200px;
    }
  }
  .home-container_5 {
    position: relative;
    grid-area: 4/1/4/span 4;
    min-height: 600px;
    display: gird;
    padding: 10px 0px 10px 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: start;
    background-color: var(--light-bg);

    .product-container {
      display: inline-block;
      position: relative;
      &:nth-last-child(-n + 3) {
        grid-column-start: 1;
      }
    }
  }
}

.page-number-container button.active {
  color: #fff;
  background-color: #91C8E4;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.pagination-container button.control{
  background-color: transparent;
  border: none;
}