.sidebar {
  position: fixed;
  top: 0px;
  bottom: 10px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  height: auto;
  margin: 8px 8px 8px 8px;
  padding: 0.5rem;
  color: var(--light-bg);
  background-image: linear-gradient(
    to bottom,
    var(--dark-bg-top),
    var(--dark-bg-bot)
  );
  border-radius: 5px;
  transition: all 0.35s;
}
.header {
  position: fixed;
  top: 8px;
  right: 12px;
  z-index: 10;
  box-sizing: border-box;
  width: auto;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.35s;
  transition-duration: all 0.35s;

  .button {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    display: flex;
    width: 50px;
    border: none;
    border-radius: 5px;
    .button-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 30px;
      background-color: transparent;
      transform: translate(-50%, -50%);
      transition: all 0.35s;
    }
    &:hover {
      .button-icon {
        color: rgb(102, 88, 88);
      }
    }
  }
  .up {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    width: auto;
    margin: 0px;
    padding: 5px;
    background-color: var(--white-grey);
    border-radius: 5px;
    transition: 0.6s;
    transition: all 0.35s;
  }
  .down {
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    width: auto;
    height: 50px;
    margin: 0 15px 15px 15px;
    padding: 5px;
    background-color: var(--white);
    border-radius: 5px;
    // box-shadow: 0px 5px 20px 0.3px rgba(59, 59, 59, 0.5);
    box-shadow: rgba(245, 243, 243, 0.9) 0rem 0rem 0.0625rem 0.0625rem ;
    backdrop-filter: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem
      ;
    color: rgb(52, 71, 103);

    opacity: 0.94;
    transition: all 0.4s;
    animation: alternate;
    .button-icon {
      background-color: var(--white);
    }
  }
  .avatar {
    position: absolute;
    top: 7px;
    right: 30px;
    bottom: 1px;
    display: flex;
  }

  .badge {
    position: absolute;
    top: 12px;
    right: 100px;
    bottom: 1px;
    display: flex;
    font-size: 30px;
    .bell {
      color: rgb(63, 63, 63);
    }
  }
}

.main {
  position: relative;
  right: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 90px;
  padding-right: 30px;
  padding-bottom: 100px;
  background-color: var(--white-grey);
  transition: all 0.35s;

  // border shadow
  .containers {
    position: relative;
    top: 0px;
    right: 100px;
    left: 10px;
    box-sizing: border-box;
    min-height: 150vh;
    margin: 15px 0 5px 0;
    padding: 0px;
    background-color: var(--light-bg);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0.4px rgba(133, 126, 126, 0.35);
  }
  .footer {
    border-radius: 5px;
  }
}

.open {
  .sidebar {
    width: 16.5em;
  }
  .header {
    left: 285px;
  }
  .main {
    padding-right: 20px;
    padding-left: 290px;
  }
}
.close {
  .sidebar {
    justify-content: center;
    width: 5.5rem;
    text-align: center;

    #logo {
      .avatar-sidebar {
        width: 20px;
        height: 50px;
        background-color: transparent;
      }
      .name-sidebar {
        font-size: 0px;
      }
      .role-sidebar {
        font-size: 0px;
      }
    }
  }
  .header {
    left: 112px;
  }
  .main {
    padding-right: 20px;
    padding-left: 115px;
  }
}
#space-h {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  display: flex;
  min-width: 200px;
  border: none;
  border-radius: 5px;
}

#brc {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 50px;
  display: flex;
  min-width: 190px;
  border: none;
  border-radius: 5px;
  // background-color: red;
}

//middle
@media only screen and (min-width: 1180px) and (max-width: 1900px) {
  .sidebar {
  }
  .header {
    .button {
      .button-icon {
      }
      &:hover {
        .button-icon {
          color: rgb(102, 88, 88);
        }
      }
    }
    .up {
      left: 0px;
      height: 55px;
    }
    .down {
      .button-icon {
      }
    }
    .avatar {
    }

    .badge {
      .bell {
      }
    }
  }

  .main {
    right: 0px;
    .containers {
    }
    .footer {
    }
  }

  .open {
    .sidebar {
    }
    .header {
    }
    .main {
      margin: 0;
      padding-top: 75px;
      padding-left: 275px;
    }
  }
  .close {
    .sidebar {
      #logo {
        .avatar-sidebar {
        }
        .name-sidebar {
        }
        .role-sidebar {
        }
      }
    }
    .header {
    }
    .main {
      margin: 0;
      padding-top: 75px;
      padding-left: 100px;
    }
  }
  .breadcrumb {
  }
}

// ipad air
@media only screen and (min-width: 650px) and (max-width: 1180px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 10px;
    bottom: 0px;
    left: 0px;
    margin: 5px 5px 5px 5px;
  }
  .header {
    position: fixed;
    top: 8px;
    z-index: 10;
    height: 65px;
    transition: all 0.35s;
    transition-duration: all 0.35s;
    .button {
      .button-icon {
      }
      &:hover {
        .button-icon {
        }
      }
    }
    .avatar {
      position: absolute;
      top: 7px;
      right: 30px;
      bottom: 1px;
      display: flex;
    }

    .badge {
      position: absolute;
      top: 12px;
      right: 100px;
      bottom: 1px;
      display: flex;
      font-size: 30px;
      .bell {
        color: rgb(63, 63, 63);
      }
    }

    .up {
      position: absolute;
    }
    .down {
      top: 0;
      height: 55px;
      margin: 0 15px 15px 15px;
      padding: 5px;

      border-radius: 5px;
      .button-icon {
        background-color: var(--white);
      }
    }
  }
  .main {
    .containers {
    }
    .footer {
    }
  }
  .open {
    .sidebar {
      width: 15.5rem; //
      transition: all 0.35s;
      #logo {
        .avatar-sidebar {
        }
        .name-sidebar {
          // font-size: 0px;
        }
        .role-sidebar {
          // font-size: 0px;
        }
      }
    }
    .header {
      right: 10px;
      left: 260px; //
    }
    .main {
      position: relative;
      right: 0;
      width: 100vw;
      padding-right: 20px;
      padding-left: 250px;
    }
  }
  .close {
    .sidebar {
      left: -100px;
      width: 5rem;
      transition: all 0.35s;
      #logo {
        //close
        .avatar-sidebar {
        }
        .name-sidebar {
        }
        .role-sidebar {
        }
      }
    }
    .header {
      right: 10px;
      //close
      left: 10px;
    }
    .main {
      position: relative;
      right: 0;
      width: 100vw;
      padding-right: 20px;
      padding-left: 0px;
    }
  }
}

//ihone 5/SE
@media only screen and (min-device-width: 100px) and (max-device-width: 650px) {
  #space-h {
    position: absolute;
    display: flex;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    #bell {
      left: 12px;
      color: red;
    }
    #avt {
      left: 63px;
    }
  }

  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 10px;
    bottom: 0px;
    left: 0px;
    margin: 3px 3px 3px 3px;
  }
  .header {
    position: fixed;
    top: 3.9px;
    z-index: 10;
    height: 60px;
    transition: all 0.35s;
    transition-duration: all 0.35s;
    .button {
      .button-icon {
      }
      &:hover {
        .button-icon {
          color: black;
          scale: 1.1;
        }
      }
    }
    .avatar {
      position: absolute;
      top: 7px;
      right: 30px;
      bottom: 1px;
      display: flex;
    }

    .badge {
      position: absolute;
      top: 12px;
      right: 100px;
      bottom: 1px;
      display: flex;
      font-size: 30px;
      .bell {
        color: rgb(63, 63, 63);
      }
    }

    .up {
    }
    .down {
      position: absolute;
      height: 60px;
      margin: 2px 5px 5px 5px;
      padding: 5px;
      opacity: 0.93;
      .button-icon {
        background-color: var(--white);
      }
    }
  }
  .main {
    top: 10px;
    .containers {
      min-height: 200vh;
    }
    .footer {
    }
  }

  .open {
    .sidebar {
      width: 12rem; //
      transition: all 0.35s;
    }
    .header {
      right: 10px;
      left: 200px;
      min-width: 600px;
    }
    .main {
      position: relative;
      right: 0;
      width: 100vw;
      padding-top: 60px;
      padding-right: 20px;
      padding-left: 0px;
    }
  }
  .close {
    .sidebar {
      left: -100px;
      width: 5rem;
      transition: all 0.35s;
      #logo {
        .avatar-sidebar {
        }
        .name-sidebar {
        }
        .role-sidebar {
        }
      }
    }
    .header {
      right: 10px;
      left: 10px;
    }
    .main {
      position: relative;
      right: 0;
      width: 100vw;
      padding-top: 60px;
      padding-right: 20px;
      padding-left: 0px;
    }
  }
}
