.home {
    position: relative;
    background-color: var(--background-wrraper);
    top: 20px;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 15px;
    min-height: 100vh;
}

.book-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
    height: 22em;
    width: 15em;
    border-radius: 1px;
    box-shadow: 4px 4px 10px 2px rgba(26, 25, 25, 0.5);
    transition: all 0.25s ease-in-out;
    margin: 0px;
    .image {
        position: relative;
        text-align: center;
        min-height: 10em;
        min-width: 10em;
        margin: 4px;
        border-radius: 5px;
        .img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }
    &:hover {
        box-shadow: 4px 4px 10px 2px rgba(26, 25, 25, 0.5);
        transform: scale(1.1);
    }
    // &::before {
    // }
    // &::after {
    // }
}

.product-container {
    position: relative;
    margin: 10px;
    // background-color: aqua;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.product-item {
    // background-color: red;
    flex-basis: 10%;
    margin-bottom: 1rem;
    margin: 10px;
    border-radius: 10px;
}
.loading {
    position: absolute;
    top: 30%;
    left: 50%;
}
.option {
    position: relatie;
    margin: 5px 30px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5px 5px;
    min-height: 50px;
    .select {
        flex: 1;

        position: relative;
        top: 0;
        bottom: 0;
        height: 30px;
        min-width: 100px;
        left: 5%;
        padding: 2px;
        box-sizing: border-box;
        z-index: 2;
    }
    .fillter {
        flex: 1;

        position: relative;
        top: 0;
        bottom: 0;
        height: 30px;
        padding: 2px;
        right: 5%;
        text-align: right;
        box-sizing: border-box;
        z-index: 2;
    }
}
