.header {
  position: fixed;
  display: flex;
  top: 0;
  left : var(--distance-left);
  height: 4em;
  width: calc(100% - var(--distance-left));
  margin: 0;
  padding: 1.5em;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #ccc;
  border-left: 1px solid rgba(255, 255, 255, 0.2);


}
