@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  //    --main-color:#8e44ad;
  --main-color: #ad44ad;

  --red: #e74c3c;
  --orange: #f39c12;
  --light-color: #888;
  --light-bg: #eee;
  --black: #2c3e50;
  --white: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  z-index: 1000;
  border-bottom: var(--border);
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .search-form {
  width: 50rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  padding: 1.5rem 2rem;
  display: flex;
  gap: 2rem;
}

.header .flex .search-form input {
  width: 100%;
  font-size: 1.8rem;
  color: var(--black);
  background: none;
}

.header .flex .search-form button {
  background: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .flex .search-form button:hover {
  color: var(--main-color);
}

.header .flex .icons div {
  font-size: 2rem;
  color: var(--black);
  background-color: var(--light-bg);
  border-radius: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  cursor: pointer;
  text-align: center;
  margin-left: 0.7rem;
}

.header .flex .icons div:hover {
  background-color: var(--black);
  color: var(--white);
}

.header .flex .profile {
  position: absolute;
  top: 120%;
  right: 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.2s linear;
  width: 30rem;
}

.header .flex .profile.active {
  transform: scale(1);
}

.header .flex .profile .image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.header .flex .profile .name {
  font-size: 2rem;
  color: var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .flex .profile .role {
  font-size: 1.8rem;
  color: var(--light-color);
}

#search-btn {
  display: none;
}
