// .login {
//   background-color: var(--white);
//   padding: 3rem;
//   position: relative;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 400px;
//   height: 440px;
//   text-align: center;
//   margin: auto;
//   border: 2px solid rgba(255, 255, 255, 0.5);
//   border-radius: 20px;
//   backdrop-filter: blur(20px);
//   box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);


// }

// .login h2 {
//   font-size: 2.5rem;
//   margin-bottom: 0;
//   color: var(--main-color);
// }
// .input-box {
//   position: relative;
//   width: 100%;
//   height: 50px;
//   border-bottom: 2px solid var(--black);
//   margin-top: 30px 0;
//   label {
//     position: absolute;
//     top: 50%;
//     left: 5px;
//     transform: translateY(-50%);
//     font-size: 1rem;
//     font-weight: 500;
//     color: var(--black);
//     pointer-events: none;
//     transition: 0.5s;
//   }
// }

// .input-box input {
//   width: 100%;
//   height: 100%;
//   background: transparent;
//   border: none;
//   outline: none;
// }

// .input-box .icon {

//   position: absolute;
//   right: 8px;
//   font-size: 1.2rem;
//   counter-reset: var(--black);
//   color: var(--black);
//   line-height: 57px;
// }

//--------------------------------------------------------------------
// .input-box label {
//   position: absolute;
//   top: 50%;
//   left: 5px;
//   transform: translateY(-50%);
//   font-size: 1rem;
//   font-weight: 500;
//   color: var(--black);
//   pointer-events: none;
//   transition: 0.5s;
// }


//------------------------------------------------------------------------------------------

.mainLogin {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  
  background-color: #e1e3eb;
}
.sub-mainLogin {
  display: flex;
  justify-content: center;
  height: 580px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 60px; 
  background-color: blue;
}
.imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

#inputfield {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

.Email {
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top:10px;
  margin-bottom:20px;
  margin-left:20px;
  
}

input[type=text] {
  padding-left: 50px;
}

input[type=password] {
  padding-left: 50px;
}

.name{
    padding-left: 70px;
    font-size: 20px;
}
.second-input{
    padding-top: 20px;
}

.buttonlogin{
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: #4169e1;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-size: 25px;
  border: none;
}
.login-button{
    padding-top: 25px;
}

.link{
    font-size: 25px;
    font-weight: 400;
}
a{
  color: blue;
}

h1{
  color: black
}

p{
  color: black
}

.col-1{
  margin: auto;
  padding: 3em 0;
}

.col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.login{
  max-width: 878px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

//----------------------------------------------------------------------------
