.menu_container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    height: inherit;
    border-bottom: 1px solid #979494; /* Màu đen */
    transition: 0.2s;

    .open {
        .menu-icon {
            transition: 0.2s;
            position: absolute;
            left: 10px;
            font-size: 23px;
            text-align: center;
            line-height: 100%;
            padding-right: 100px;
            justify-content: center;
            bottom: 10px;
        }
        .menu-name {
            position: relative;
            margin-left: 35px;
            line-height: 100%;
            left: 15px;
            transition: 0.4s;
            animation: fadeIn 2s ease forwards;
        }
    }
    .close {
        .menu-icon {
            position: absolute;
            left: 10px;
            font-size: 23px;
            text-align: center;
            line-height: 100%;
            margin-bottom: 10px;
            bottom: 0px;
        }
        .menu-name {
            transition: 0.4s;
            display: none;
            animation: fadeIn 2s ease forwards;
        }
    }

    &:hover {
        background-color: var(--dark-click);
        cursor: pointer;
    }
}
.menu_list {
    position: absolute;
    margin: 150px 0px 0px 0px;
    left: 15px;
    right: 15px;
    width: auto;
    height: auto;
    min-height: 600px;
    border-radius: 10px;
    padding: 5px 0px 0px 0px;

    .menu_item {
        position: relative;
        border-radius: 6px;
        margin: 3px 0px 3px 0px;
        height: 50px;
    }
}
